<div class="container main list">
    <div class="col-md-8">
        <h1>Topics</h1>
        <%= render @topics %>
    </div>
    <div class="col-md-4 pull-right">
        <%= image_tag image_path("moss.jpg"), class: "small-img" %>
        <div class="button">
            <% if user_is_authorized_for_topics? %>
                    <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
            <% end %>
        </div>
    </div>
</div>