<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>

<div class="outer-space-pirates">
    arrrr!
    <img src="http://www.iconsdb.com/icons/preview/white/boat-9-xxl.png">
</div>
<!-- my way of dealing with the fact that you can't name a class 'space'
without crashing the app, and as this interface is boring as of yet, 
I am going to put an invisible pirate ship here.-->

<%= link_to "Follow me", "https://www.google.com", class: "social-button" %>