<div class="jumbotron main">
    <%= image_tag image_path("city.jpg") %>
    <h1>Rereadit</h1>
    <p>Rereadit is a brilliant resource for saying things and then voting on what other people said.</p>
    <p>
        <%= link_to "Sign In", new_session_path %> or
        <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
    </p>
</div>
<div class="row container">
    <div class="col-md-3 main third">
        <h2>Solves presidential incompetence</h2>
            <p>Rereadit will perform necessary scientific maneuvers to increase the intelligence of any idiotic political figure by ten.</p>
            <!-- I can't feel good about mocking world hunger, so I picked a better target. -->
    </div>
    <div class="col-md-3 main third">
        <h2>Prevents misogynistic political tweets</h2>
            <p>Rereadit will subtly target presidential office holders and manipulate the wording of their tweets to prevent hateful speech toward women. </p>
    </div>
    <div class="col-md-3 main third">
        <h2>Makes you better looking</h2>
            <p>Rereadit will make you better looking: it's scientifically proven to make women look like Ryan Gosling and men look like Shakira. Because why not?</p>
            <!-- seriously, why do only men get to look like Ryan Gosling? -->
    </div>
</div>