<div class="container main form">
    <div class="col-md-8">
        <h1>Edit Post</h1>
        <%= render partial: 'form', locals: { topic: @post.topic, post: @post } %>
        <!--- this one works fine as @post.topic, new had to be @topic -->
    </div>
    <div class="col-md-4 pull-right">
        <%= image_tag image_path("moss.jpg"), class: "medium-img" %>
    </div>
</div>