<div class="container main form">
    <div class="col-md-8">
        <h1>New Post</h1>
        <%= render partial: 'form', locals: { topic: @topic, post: @post } %>
        <!-- wouldn't render until I changed topic: to @topic from @post.topic -->
    </div>
    <div class="col-md-4 pull-right">
        <%= image_tag image_path("moss.jpg"), class: "small-img" %>
    </div>
</div>